/* GLOBAL COLORS FROM LOGO */
:root {
    --bg-cream: #FDF8ED;
    --orange-main: #FFB301;
    --red-deep: #C92422;
    --peach-accent: #F1B485;
    --text-dark: #3b3b3b;
}

/* BODY */
body {
    margin: 0;
    padding: 0;
    background: var(--bg-cream);
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    background: #FFF8E8;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.logo-box {
    width: 130px;
    height: 130px;
    margin: 0 auto 10px;
    border-radius: 50%;
    overflow: hidden;
    background: #ddd;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* TITLE */
h2 {
    color: var(-);
    margin-top: 5px;
}

/* MAIN CONTAINER */
.container {
    width: 90%;
    max-width: 550px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    border-top: 6px solid var(--orange-main);
}

h3 {
    text-align: center;
    color: var(--red-deep);
    margin-top: 0;
}

p {
    text-align: center;
    color: var(--text-dark);
}

/* MENU LIST */
.menu-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.item {
    padding: 20px;
    background: #ffffff;
    border-left: 6px solid var(--orange-main);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.item h4 {
    margin: 0;
    color: var(--red-deep);
}

.item p {
    margin: 5px 0 15px;
    color: var(--text-dark);
}

/* BUTTON */
button {
    width: 100%;
    padding: 12px;
    border: none;
    background: var(--orange-main);
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: var(--red-deep);
}
